@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Sitemap>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

@Html.Partial("~/Views/Partials/SectionHeader.cshtml")
<section class="sitemap-section">
    @Html.Partial("Sitemap")
</section>